<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BSKToolsBoxDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C44DC0E71F19A956003EF7D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C44DC1001F19A956003EF7D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C44DC10B1F19A956003EF7D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
